In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_excel('./data/1.xlsx',sheet_name='四个自变量99-17')    # 可以通过sheet_name来指定读取的表单
df2=pd.read_excel('./data/1.xlsx',sheet_name='违规公司黑名单94-20')    # 可以通过sheet_name来指定读取的表单
df1.set_index('ID')
df2.set_index('ID')
df1=df1.dropna()
df2=df2.dropna()
df1.head()
# df2.head()

,COMPANY,DATE,YEAR,ID,GAIN,LOSS,TATA1,TATA2,CHCS,OTHREC
0,1,2014-12-31,2014,20140000001,1.984100e+10,0.0,-9.147210e-07,0.000440,0.087320,0.0
1,1,2013-12-31,2013,20130000001,1.516600e+10,0.0,2.666105e-04,0.000696,-0.803567,0.0
2,1,2012-12-31,2012,20120000001,1.338522e+10,0.0,-9.296631e-04,-0.000479,3.187515,0.0
3,1,2011-12-31,2011,20110000001,1.017927e+10,0.0,3.980625e-04,0.000758,-4.228793,0.0
4,1,2010-12-31,2010,20100000001,6.143737e+09,0.0,-2.697994e-05,0.000207,1.169672,0.0

In [3]:
print(df1.isnull().sum())
print(df1.shape)
print(df2.info())
# df1.iloc[31520:]
# df1[df1["GAIN"] > 0.5]

COMPANY    0
DATE       0
YEAR       0
ID         0
GAIN       0
LOSS       0
TATA1      0
TATA2      0
CHCS       0
OTHREC     0
dtype: int64
(35639, 10)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 0 to 306
Data columns (total 10 columns):
COMPANY    307 non-null int64
YEAR       307 non-null int64
YEARS      307 non-null object
ID         307 non-null int64
TVALUE     307 non-null float64
VALUE      307 non-null float64
TYPE       307 non-null object
TYPEN      307 non-null object
DID        307 non-null object
CHEAT      307 non-null int64
dtypes: float64(2), int64(4), object(4)
memory usage: 26.4+ KB
None

In [33]:
df3=pd.merge(df1,df2[["ID","CHEAT"]],how="left",on="ID")
df3["CHEAT"]=df3["CHEAT"].fillna(0)
df3.to_csv("./data/1.csv",index=False)

In [63]:
from sklearn.ensemble import RandomForestClassifier